.new-q-form>input, .new-q-form>textarea {
    width: calc(100% - 1rem);
    padding: .5rem;
    margin: 0;
    border: 0;
    font-size: large;

    background-color: var(--background-accented);
    border-radius: 5px;
}

.new-q-form>input {
    padding: .5rem;
}

.new-q-form>textarea {
    resize: none;
}

.new-q-form>label {
    text-align: left;
    width: 100%;
    margin: 1rem 0 .5rem 0;
}

.new-q-form>button {
    width: 100%;
    background-color: var(--accent-color);
    border: 0;
    padding: .5rem;
    font-size: large;
    margin-top: 1rem;
}

.new-q-form {
    border: 1px solid var(--accent-color);
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 20px;
}