.authcard {
    border: 1px solid var(--accent-color);
    border-radius: 30px;

    width: fit-content;

    margin: auto;
    margin-top: 4rem;
    padding: 2rem;
}

input {
    border-width: 0;
    padding: .5rem;
    max-width: 50vw;
    width: 250px;
    font-size: large;
}

.authbutton {
    max-width: calc(50vw + 1rem);
    width: calc(250px + 1rem);

    margin-top: 1rem;
    margin-bottom: .5rem;
    padding: .5rem;

    font-size: large;

    background-color: var(--accent-color);
    border: 0;

    cursor: pointer;
}

.label {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: 400;
}