
#upVote-green {
    cursor: pointer;
    width: 22px;
}

#downVote-red {
    cursor: pointer;
    width: 22px;
}

#upVote {
    cursor: pointer;
    filter: grayscale(1);
    width: 22px;
}

#upVote:hover {
    filter: grayscale(0.2);
    transition: 500ms;
}

#downVote {
    cursor: pointer;
    filter: grayscale(1);
    width: 22px;
}

#downVote:hover {
    filter: grayscale(0.2);
    transition: 500ms;
}

#eggplant {
    justify-content: center;
    width: 22px;
}