@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

.App {
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 400;
}