:root {
    --background-color: #494949;
    --foreground-color: white;
    --accent-color: orange;
    background-color: var(--background-color);
    color: var(--foreground-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}