.card {
    border: 1px solid var(--accent-color);
    margin: .5rem;
    border-radius: 10px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
}

.username {
    align-self: center;
    padding: 1rem;
}

.question {
    flex-grow: 1;
    border-left: 1px solid var(--accent-color);
}

.question>h2 {
    padding: 0rem 1rem;
}

.question-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.question-infos>p {
    margin: .5rem;
}